.result-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.photo-frame-container{
    width: 60%;
    height: 100vh;
    display: flex;
}

.preview-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.merged-image-preview{
    width: 302px; 
    height: 452px;
    margin: 0 auto;
    text-align: center;
    background-color: #3f3f3f;
    padding: 2px;
}

.result-image{
    width: 100%;
    height: 100%;
    margin-bottom: 50%;
    object-fit: contain;
}

.loading-preview{
    width: 300px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.frame_container{
    position: relative;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    display: none;
}

.frame-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 10;
}

.section2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qr-section{
    width: 90%;
    height: 30%;
    background-color: #f0f0f0;
    border-radius: 25px;
    margin-top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.gle{
    margin: 0;
}

.qr-image{
    width: 130px; 
    height: 130px; 
    margin-top: 5%;
    margin-left: 10%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
}

.print-button{
    width: 310px;
    height: 53px;
    margin-top: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
}

.print-button:hover{
    background: #cccccc;
}

.back-button{
    width: 35%;
    height: 53px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;   
    font-weight: bold;
    margin-top: 20%; 
    margin-left: 55%;
    font-size: large;
    font-weight: bold;
}

.back-button:hover{
    background-color: #252525;
}

.not-see{
    display: none;
}
