* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.h-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.height {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.left-container {
  width: 60%;
  display: flex;
  align-items: center;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;

  margin-left: 5%;
}

.text-group {
  display: flex;
  align-items: flex-end;
  gap: 2%;
}

.logo {
  width: 90%;
  height: 90%;
}

.logo2 {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px rgb(180, 180, 180);
}

.jum {
  width: 10%;
  margin-bottom: 25%;
  font-size: 4rem;
  color: #696969;
  display: flex;
}

.big {
  font-family: Tienne-Regular;
  font-size: xx-large;
  font-weight: normal; /* 폰트 두께 조정 */
  letter-spacing: normal; /* 글자 간격 조정 */
}

.smail {
  font-family: Tienne-Regular;
  font-size: large;
  font-weight: normal; /* 폰트 두께 조정 */
  letter-spacing: normal; /* 글자 간격 조정 */
  margin-bottom: 4px;
}


.start-button {
  padding: 30px 150px;
  font-size: x-large;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: #414141;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  max-width: 100%;
  margin-top: 10%;
}

.start-button:hover {
  background-color: #252525;
  transform: scale(1.08);
}